@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Library Database</h1>
    <p>This is version 1. There is not much functionality. You can look through databases...</p>
</div>
